@{
    ViewData["Title"] = "Add a kid";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

@using DAL.Model
@using KidSpy3300.Models
@model KidSpy3300.Models.AddKidModel
@if (@Model.Student == null)
{
    <h2 class="manage-title">Add kid</h2>
}
else
{
    <h2 class="manage-title">Update picture</h2>
}

<div class="row">
    <div class="offset-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="my-box-shadow">
            <div class="my-box-title">
                @if (@Model.Student == null)
                {
                    <h5>Tell us more about new family member</h5>
                }
                else
                {
                    <h5>@Model.Student.Name @Model.Student.LastName</h5>
                }
            </div>
            <div class="my-box">
                <form class="register-form" method="POST" enctype="multipart/form-data" asp-controller="ManageAccount" asp-action="AddKidSubmit"
                      asp-route-kidId="@if(Model.Student!=null){ @Model.Student.Id }">
                    @if (@Model.Student == null)
                    {
                        <div class="form-group">
                            <label for="name">First Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" asp-for="StudentName">
                            <span asp-validation-for="StudentName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="dropdown-to-validate">Class:</label>
                            <select id="dropdown-to-validate" class="form-control" asp-for="ChoosenSchoolClassId">
                                <option value="-1">Select...</option>
                                @foreach (var c in Model.SchoolClassesWithTeachers)
                                {
                                    <option value="@c.Id">@c.Name (@c.TeacherAccount.Name @c.TeacherAccount.LastName)</option>
                                }
                            </select>
                            <span id="dropdown-validate-text" class="text-danger"></span>
                        </div>
                    }

                    <div class="form-group">
                        <label for="avatar-image">Picture:</label>
                        <input id="avatar-image" class="form-control" type="file" name="avatarImage" />
                    </div>
                    <div class="float-right-button-holder">
                        <div class="float-right-button-holder">
                            <a id="go-back" class="float-left btn btn-secondary mt-4" asp-controller="ManageAccount" asp-action="Index">
                                <span class="fa fa-chevron-left"></span>
                                Back
                            </a>
                            <button id="send-message" onclick="return validateDropdown()" class="float-right btn btn-success mt-4">
                                <span class="fa fa-plus"></span>
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/validate-dropdown.js"></script>
