@{
    ViewData["Title"] = "Grade " + @Model.Student.Name + @Model.Student.LastName;
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

@using DAL.Model
@using KidSpy3300.Models
@model KidSpy3300.Models.AddMarkModel

@if (Model.MarkToEdit == null)
{
    <h2 class="manage-title">Add mark</h2>
}
else
{
    <h2 class="manage-title">Edit mark</h2>
}

<div class="row">
    <div class="offset-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="my-box-shadow">
            <div class="my-box-title">
                <h5>Grade @Model.Student.Name @Model.Student.LastName</h5>
            </div>
            <div class="my-box">
                <form class="register-form" method="POST" asp-controller="ManageAccount" asp-action="AddMarkSubmit" asp-route-studentid="@Model.Student.Id"
                      asp-route-markId="@if(Model.MarkToEdit!=null){ @Model.MarkToEdit.Id }">
                    <div class="form-group">
                        <label for="dropdown-to-validate">Mark:</label>
                        <select id="dropdown-to-validate" class="form-control" asp-for="MarkValue">
                            <option value="-1">Select...</option>
                            @foreach (var mark in Enum.GetValues(typeof(MarkType)))
                            {
                                if (Model.MarkToEdit != null && Convert.ToInt32(Model.MarkToEdit.MarkType) == Convert.ToInt32(mark))
                                {
                                    <option value="@Convert.ToInt32(mark)" selected="selected">@mark</option>
                                }
                                else
                                {
                                    <option value="@Convert.ToInt32(mark)">@mark</option>
                                }
                            }
                        </select>
                        <span id="dropdown-validate-text" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>

                        @if (Model.MarkToEdit != null)
                        {
                            Model.Description = Model.MarkToEdit.Description;
                        }

                        <textarea type="text" rows="6" class="form-control" id="description" asp-for="Description"></textarea>
                    </div>

                    <div class="float-right-button-holder">
                        <div class="float-right-button-holder">
                            <a id="go-back" class="float-left btn btn-secondary mt-4" asp-controller="ManageAccount" asp-action="Index">
                                <span class="fa fa-chevron-left"></span>
                                Back
                            </a>
                            <button id="add-mark" onclick="return validateDropdown()" class="float-right btn btn-success mt-4">
                                <span class="fa fa-plus"></span>
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/validate-dropdown.js"></script>
