@{
    ViewData["Title"] = "Viewing "+ @Model.Student.Name + " " + @Model.Student.LastName;
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

@using DAL.Model
@using KidSpy3300.Models
@model KidSpy3300.Models.ShowStudentModel

<h2 class="manage-title">Student</h2>

<div class="row">
    <div class="offset-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="my-box-shadow">
            <div class="my-box-title">
                @Model.Student.Name @Model.Student.LastName
                <div class="float-right">
                    <div class="student-avatar big-border">
                        @if (Model.Student.AvatarImage != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Student.AvatarImage)">
                        }
                        @if (!Model.IsTeacher)
                        {
                            <a asp-controller="ManageAccount" asp-action="AddKid" asp-route-kidId="@Model.Student.Id"
                               class="fa fa-2x fa-edit link-no-underline gray-edit"></a>
                        }
                    </div>
                </div>
            </div>
            <div class="my-box">
                @if (Model.Marks.Any())
                {
                    <div class="msg-title mb-3">Marks:</div>
                }
                else
                {
                    <div class="msg-title mb-3 text-center">*Tumbleweed*</div>
                }
                @foreach (var mark in @Model.Marks)
                {
                    <div class="border-bottom student-mark">
                        <i class="float-right mt-2">@mark.MarkDate</i>
                        <span class="font-weight-bold">

                            <span class="mark-big-size mark-color-@mark.MarkType">
                                @mark.MarkType
                            </span>
                            @if (Model.IsTeacher)
                            {
                                <a asp-controller="ManageAccount" asp-action="AddMark" asp-route-studentId="@Model.Student.Id" 
                                   asp-route-markId="@mark.Id" class="fa fa-edit link-no-underline gray-edit"></a>
                            }
                            @if (mark.Assignment != null)
                            {
                                <div>@mark.Assignment.Name</div>
                            }

                        </span>
                        <div>@mark.Description</div>
                    </div>
                }
                @if (Model.Assignments.Any())
                {
                    <div class="msg-title mb-4 mt-5">Assignments not yet graded:</div>
                }

                @foreach (var assignment in @Model.Assignments)
                {
                    <div class="border-bottom mb-2">
                        <i class="float-right ">Due: @assignment.DueDate.ToShortDateString()</i>
                        <span class="font-weight-bold">
                            @assignment.Name
                        </span>
                    </div>
                }

                @if (!Model.IsTeacher)
                {
                    <div class="mt-4">
                        Class: @Model.Student.SchoolClass.Name <br />
                        Teacher: @Model.TeacherAccount.Name @Model.TeacherAccount.LastName
                    </div>
                }
                <div class="float-right-button-holder">
                    <a id="go-back" class="float-left btn btn-secondary mt-4" asp-controller="ManageAccount" asp-action="Index">
                        <span class="fa fa-chevron-left"></span>
                        Back
                    </a>
                    @if (Model.IsTeacher)
                    {
                        <a id="add-mark" class="float-right btn btn-success mt-4" asp-controller="ManageAccount" asp-route-studentId="@Model.Student.Id" asp-action="AddMark">
                            <span class="fa fa-plus"></span>
                            Add Mark
                        </a>
                    }
                    else
                    {
                        <a id="delete-student" class="float-right btn btn-danger mt-4" asp-controller="ManageAccount" asp-route-studentId="@Model.Student.Id" asp-action="DeleteStudentSubmit">
                            <span class="fa fa-user-minus"></span>
                            Remove kid
                        </a>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.IsTeacher)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/edit-student-grades.js"></script>

}
